*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/tests/node_modules
/tests/.env
src/test/js/tests/node_modules
src/test/js/tests/.env

**/.env

/app/src/test/js/tests/node_modules
/app/src/test/js/tests/mochawesome-repoort
/app/src/test/js/tests/.env

**/node_modules
